---
layout: default
title: Tags
permalink: /blog/tags/
---

{% comment %}
=======================
The following part extracts all the tags from your posts and sort tags, so that you do not need to manually collect your tags to a place.
=======================
{% endcomment %}
{% assign rawtags = "" %}
{% for post in site.posts %}
	{% assign ttags = post.tags | join:'|' | append:'|' %}
	{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% comment %}
=======================
The following part removes dulpicated tags and invalid tags like blank tag.
=======================
{% endcomment %}
{% assign tags = "" %}
{% for tag in rawtags %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}

{% comment %}
=======================
The purpose of this snippet is to list all the tags you have in your site.
=======================
{% endcomment %}
<div>
{% for tag in tags %}
	<a class="label clickable" href="#{{ tag | slugify }}"> {{ tag }} </a>
{% endfor %}
</div>


{% comment %}
=======================
The purpose of this snippet is to list all your posts posted with a certain tag.
=======================
{% endcomment %}
{% for tag in tags %}
	<h4 id="{{ tag | slugify }}">{{ tag }}</h4>
	<ul class="list">
	 {% for post in site.posts %}
		 {% if post.tags contains tag %}
		 <li>
		 <h5>
		 <a href="{{ post.url }}">
		 {{ post.title }}
		 <small>{{ post.date | date_to_string }}</small>
		 </a>
		 {% for tag in post.tags %}
			 <a class="label clickable" href="#{{ tag | slugify }}">{{ tag }}</a>
		 {% endfor %}
		 </h5>
		 </li>
		 {% endif %}
	 {% endfor %}
	</ul>
{% endfor %}
